.container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.inner {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 100%;
  align-items: flex-start;
}

.header {
  margin: 1rem 0;
}
